.grid-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 4rem;
    background-color: white;
    padding: 2rem 2rem;
    margin: 5rem 10rem;
}


.left-sec {
    background-color: #CF9BAE;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.left-sec h1 {
    color: white;
    text-align: center;
    padding-top: 3rem;
  }
  
  .left-inside {
      color: white;
      height: 78%;
      margin: 3rem 3rem 3rem 3rem;
      background-color: #F8CEDD;
  }
  

.top-right {
    background-color: #C48B9F;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.bottom-right {
    background-color: #F8BBD0;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
h1{
    color: blue;
}