.grid-container {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    
    background-color: white;
    padding: 2rem 2rem;
    margin: 5rem 10rem;
    justify-content: center;
    max-width: 700px;
}

/*body {
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    /*background-position: 50% 50%;
    background-image: url('images/journal-791286_1920.jpg');
    
}*/

h {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url('Images/banner.jpg');
    background-size: cover;
}

.banner h5{

    /*background-color: #bec1e2;*/
    /*grid-row: 1 / 2;*/
    /*grid-column: ;*/
    background-image: url('Images/banner.jpg');
    background-size: cover;
    font-family: Helvetica;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    min-height: 15rem;
    padding-top: 5rem;
    /*min-width: 305px;*/
}

/*.banner h5 {
    color: white;
    text-align: center;
    padding-top: 2rem;
  }*/
  

  


.top-right {
    background-color: #cbd3f0;
    grid-row: 1 / 2;
    grid-column: 3 / 6;
    min-width: 305px;
    
   
}
.task-title{
    color:#bad3f4;
    background-color:#ced8f8;
    text-align: center;
    height: 2rem;
  
}

    /* task layout */


 
    
    
   /* end of task layout */



.bottom-right {
    background-color: #bbcdf8;
    grid-row: 2 / 4;
    grid-column: 3 / 6;
    min-width: 305px;
    padding: 1rem ;  
}

h1{
    color: rgba(35, 35, 174, 0.678);
    text-align: center;
}



.btn-primary {
    color: #fff;
    background-color: rgb(223, 223, 245);
    border-color: rgb(217, 218, 245);
  }

  .btn-primary:hover {
    background-color: rgba(191, 187, 234, 0.963);
    border-color: rgba(191, 187, 234, 0.963);
  }


.btn-primary:click{
    background-color: rgba(191, 187, 234, 0.963);
    border-color: rgba(191, 187, 234, 0.963);
} 
